NET "dram_clk" TNM = dram_clk;
TIMESPEC TS_clk = PERIOD "dram_clk" 50.0 MHz HIGH 50%;
NET "dram_clk" BUFG = CLK;

NET "mmu_clk_7" TNM = mmu_clk_7;
TIMESPEC TS_ami_clk = PERIOD "mmu_clk_7" 7.2 MHz HIGH 50%;

NET "mmu_data<0>" LOC = p56;
NET "mmu_data<1>" LOC = p57;
NET "mmu_data<2>" LOC = p58;
NET "mmu_data<3>" LOC = p59;
NET "mmu_data<4>" LOC = p60;
NET "mmu_data<5>" LOC = p61;
NET "mmu_data<6>" LOC = p64;
NET "mmu_data<7>" LOC = p66;
NET "mmu_data<8>" LOC = p70;
NET "mmu_data<9>" LOC = p71;
NET "mmu_data<10>" LOC = p74;
NET "mmu_data<11>" LOC = p75;
NET "mmu_data<12>" LOC = p76;
NET "mmu_data<13>" LOC = p78;
NET "mmu_data<14>" LOC = p77;
NET "mmu_data<15>" LOC = p79;
NET "mmu_addr<1>" LOC = p111;
NET "mmu_addr<2>" LOC = p112;
NET "mmu_addr<3>" LOC = p107;
NET "mmu_addr<4>" LOC = p110;
NET "mmu_addr<5>" LOC = p105;
NET "mmu_addr<6>" LOC = p106;
NET "mmu_addr<7>" LOC = p103;
NET "mmu_addr<8>" LOC = p104;
NET "mmu_addr<9>" LOC = p96;
NET "mmu_addr<10>" LOC = p101;
NET "mmu_addr<11>" LOC = p98;
NET "mmu_addr<12>" LOC = p100;
NET "mmu_addr<13>" LOC = p97;
NET "mmu_addr<14>" LOC = p94;
NET "mmu_addr<15>" LOC = p95;
NET "mmu_addr<16>" LOC = p88;
NET "mmu_addr<17>" LOC = p92;
NET "mmu_addr<18>" LOC = p86;
NET "mmu_addr<19>" LOC = p87;
NET "mmu_addr<20>" LOC = p85;
NET "mmu_addr<21>" LOC = p82;
NET "mmu_addr<22>" LOC = p83;
NET "mmu_addr<23>" LOC = p81;

NET "mmu_dtack" LOC = p44;
NET "mmu_reset" LOC = p46;
NET "mmu_clk_7" LOC = p48;
NET "mmu_rw" LOC = p49;
NET "mmu_lds" LOC = p50;
NET "mmu_uds" LOC = p51;
NET "mmu_as" LOC = p52;

NET "ctl_oe" LOC = p45;
NET "l_data_oe" LOC = p54;
NET "u_data_oe" LOC = p69;
NET "l_data_dir" LOC = p53;
NET "u_data_dir" LOC = p68;
NET "addr_oe_0" LOC = p102;
NET "addr_oe_1" LOC = p91;
NET "addr_oe_2" LOC = p80;

NET "dram_addr<0>" LOC = p40;
NET "dram_addr<1>" LOC = p41;
NET "dram_addr<2>" LOC = p42;
NET "dram_addr<3>" LOC = p43;
NET "dram_addr<4>" LOC = p39;
NET "dram_addr<5>" LOC = p38;
NET "dram_addr<6>" LOC = p35;
NET "dram_addr<7>" LOC = p34;
NET "dram_addr<8>" LOC = p33;
NET "dram_addr<9>" LOC = p32;
NET "dram_addr<10>" LOC = p9;
NET "dram_addr<11>" LOC = p31;
NET "dram_dq<0>" LOC = p135;
NET "dram_dq<1>" LOC = p136;
NET "dram_dq<2>" LOC = p137;
NET "dram_dq<3>" LOC = p138;
NET "dram_dq<4>" LOC = p139;
NET "dram_dq<5>" LOC = p140;
NET "dram_dq<6>" LOC = p142;
NET "dram_dq<7>" LOC = p143;
NET "dram_dq<8>" LOC = p26;
NET "dram_dq<9>" LOC = p25;
NET "dram_dq<10>" LOC = p24;
NET "dram_dq<11>" LOC = p23;
NET "dram_dq<12>" LOC = p22;
NET "dram_dq<13>" LOC = p21;
NET "dram_dq<14>" LOC = p20;
NET "dram_dq<15>" LOC = p19;
NET "dram_ba<0>" LOC = p6;
NET "dram_ba<1>" LOC = p7;
NET "dram_dqml" LOC = p2;
NET "dram_dqmh" LOC = p28;
NET "dram_ras_n" LOC = p5;
NET "dram_cas_n" LOC = p4;
NET "dram_we_n" LOC = p3;
NET "dram_clk" LOC = p30;

NET "test<1>" LOC = p134;
NET "test<2>" LOC = p132;
NET "test<3>" LOC = p131;
NET "test<4>" LOC = p126;
NET "test<5>" LOC = p130;
NET "test<6>" LOC = p133;
